* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    position: fixed;
    min-height: 100%;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/e3eefc7d-f73f-49bd-90be-8ad4f7bc5a33/d6htj7x-5801865e-cd1d-46d4-b7d0-924cb74bbb2f.jpg");
    background-repeat: repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.player-object {
    position: absolute;
    top: 50px;
    left: 50px;
}

.right-fish{
    background-size: 96px 96px;
    background-image: url("img/fish\ facing\ right.gif");
    position: absolute;
    top: 50px;
    left: 50px;
    height:96px;
    width: 96px;
    z-index: 100;
    background-repeat: cover;
}

.left-fish{
    background-size: 96px 96px;
    background-image: url("img/fish\ facing\ left.gif");
    position: absolute;
    top: 50px;
    left: 50px;
    height:96px;
    width: 96px;
    z-index: 100;
    background-repeat: cover;
}

.cpu1{
    background-size: 50px 50px;
    background-image: url("img/cpu1.gif");
    position: absolute;
    top: 50px;
    left: 50px;
    height:50px;
    width: 50px;
    z-index: 100;
    background-repeat: cover;
    visibility: visible;
}
.cpu2{
    background-size: 50px 50px;
    background-image: url("img/cpu2.gif");
    position: absolute;
    top: 50px;
    left: 50px;
    height:50px;
    width: 50px;
    z-index: 100;
    background-repeat: cover;
    visibility: visible;
}
.cpu3{
    background-size: 50px 50px;
    background-image: url("img/cpu3.gif");
    position: absolute;
    top: 50px;
    left: 50px;
    height:50px;
    width: 50px;
    z-index: 100;
    background-repeat: cover;
    visibility: visible;
}
.cpu4{
    background-size: 50px 50px;
    background-image: url("img/cpu4.gif");
    position: absolute;
    top: 50px;
    left: 50px;
    height:50px;
    width: 50px;
    z-index: 100;
    background-repeat: cover;
    visibility: visible;
}

